# Python
venv/
*.pyc
__pycache__/

# Node.js
node_modules/
*.log

# Environment Variables
.env

# MySQL
*.sql

# IDE/Editor
.vscode/
.idea/
*.swp

# Build
build/
dist/

# Logs
logs/
*.log

# Miscellaneous
.DS_Store
Thumbs.db

# React
frontend/.next/
frontend/out/
frontend/.vercel/
frontend/.turbo/
frontend/.pnpm-debug.log
frontend/.eslintcache
frontend/.parcel-cache
frontend/.swc/
frontend/.cache/